@import 'nprogress/nprogress.css';

#nprogress {
  --progress-color: #2563eb; /* primary-600 */
}

#nprogress .bar {
  background: var(--progress-color);
}

#nprogress .peg {
  box-shadow: 0 0 10px var(--progress-color), 0 0 5px var(--progress-color);
}
