@import url("nprogress/nprogress.css");

#nprogress {
	--color-nprogress: hsl(183deg 58% 70%); /* acdh-ch-primary */
}

#nprogress .bar {
	background: var(--color-nprogress);
}

#nprogress .peg {
	box-shadow: 0 0 10px var(--color-nprogress), 0 0 5px var(--color-nprogress);
}
